# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data (DO NOT PUSH DATASETS)
data/raw/
data/processed/

# Experiments / outputs
experiments/
runs/
checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Logs
*.log
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data (DO NOT PUSH DATASETS)
data/raw/
data/processed/

# Experiments / outputs
experiments/
runs/
checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Logs
*.log
